Proyecto_ClienteMemorama/ClienteMemorama/Connected Services/ConexionServicio1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioClienteMemorama" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IServicioUsuarios_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ServicioMemorama" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioUsuarios_ConexionServidorSesion_InputMessage">
    <wsdl:part name="parameters" element="tns:ConexionServidorSesion" />
  </wsdl:message>
  <wsdl:message name="IServicioUsuarios_ConexionServidorSesion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConexionServidorSesionResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioUsuarios_ConexionServidorRegistro_InputMessage">
    <wsdl:part name="parameters" element="tns:ConexionServidorRegistro" />
  </wsdl:message>
  <wsdl:message name="IServicioUsuarios_ConexionServidorRegistro_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConexionServidorRegistroResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioUsuarios_ConexionServidorCodigo_InputMessage">
    <wsdl:part name="parameters" element="tns:ConexionServidorCodigo" />
  </wsdl:message>
  <wsdl:message name="IServicioUsuarios_ConexionServidorCodigo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConexionServidorCodigoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioUsuarios_ConexionClienteSesion_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ConexionClienteSesion" />
  </wsdl:message>
  <wsdl:message name="IServicioUsuarios_ConexionClienteSesion_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ConexionClienteSesionResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioUsuarios_ResultadoConexionSesion_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ResultadoConexionSesion" />
  </wsdl:message>
  <wsdl:message name="IServicioUsuarios_ResultadoConexionSesion_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ResultadoConexionSesionResponse" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IServicioUsuarios">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ConexionServidorSesion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioUsuarios/ConexionServidorSesion" message="tns:IServicioUsuarios_ConexionServidorSesion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioUsuarios/ConexionServidorSesionResponse" message="tns:IServicioUsuarios_ConexionServidorSesion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ConexionServidorRegistro">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioUsuarios/ConexionServidorRegistro" message="tns:IServicioUsuarios_ConexionServidorRegistro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioUsuarios/ConexionServidorRegistroResponse" message="tns:IServicioUsuarios_ConexionServidorRegistro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ConexionServidorCodigo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioUsuarios/ConexionServidorCodigo" message="tns:IServicioUsuarios_ConexionServidorCodigo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioUsuarios/ConexionServidorCodigoResponse" message="tns:IServicioUsuarios_ConexionServidorCodigo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ConexionClienteSesion">
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioUsuarios/ConexionClienteSesion" message="tns:IServicioUsuarios_ConexionClienteSesion_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioUsuarios/ConexionClienteSesionResponse" message="tns:IServicioUsuarios_ConexionClienteSesion_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ResultadoConexionSesion">
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioUsuarios/ResultadoConexionSesion" message="tns:IServicioUsuarios_ResultadoConexionSesion_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioUsuarios/ResultadoConexionSesionResponse" message="tns:IServicioUsuarios_ResultadoConexionSesion_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IServicioUsuarios" type="tns:IServicioUsuarios">
    <wsp:PolicyReference URI="#NetTcpBinding_IServicioUsuarios_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="ConexionServidorSesion">
      <soap12:operation soapAction="http://tempuri.org/IServicioUsuarios/ConexionServidorSesion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConexionServidorRegistro">
      <soap12:operation soapAction="http://tempuri.org/IServicioUsuarios/ConexionServidorRegistro" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConexionServidorCodigo">
      <soap12:operation soapAction="http://tempuri.org/IServicioUsuarios/ConexionServidorCodigo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConexionClienteSesion">
      <soap12:operation soapAction="http://tempuri.org/IServicioUsuarios/ConexionClienteSesion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResultadoConexionSesion">
      <soap12:operation soapAction="http://tempuri.org/IServicioUsuarios/ResultadoConexionSesion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioClienteMemorama">
    <wsdl:port name="NetTcpBinding_IServicioUsuarios" binding="tns:NetTcpBinding_IServicioUsuarios">
      <soap12:address location="net.tcp://localhost/ServicioUsuarios" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost/ServicioUsuarios</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-0UODMCR\Daniel</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>